<!DOCTYPE html>
<html lang="en">

  <head>
    <%- partial("_partials/_head") %>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <%- partial("_partials/_nav") %>

    <!-- Header -->
    <%- partial("_partials/_header") %>

    <!-- Services -->
    <%- partial("_partials/_services") %>

    <!-- Portfolio Grid -->
    <%- partial("_partials/_portfolio") %>

    <!-- About -->
    <%- partial("_partials/_timeline") %>

    <!-- Team -->
    <%- partial("_partials/_team") %>

    <!-- Clients -->
    <%- partial("_partials/_clients") %>

    <!-- Contact -->
    <%- partial("_partials/_contact") %>

    <!-- Footer -->
    <%- partial("_partials/_footer") %>

    <!-- Portfolio Modals -->
    <%- partial("_partials/_portfolio/_item1_modal") %>
    <%- partial("_partials/_portfolio/_item2_modal") %>
    <%- partial("_partials/_portfolio/_item3_modal") %>
    <%- partial("_partials/_portfolio/_item4_modal") %>
    <%- partial("_partials/_portfolio/_item5_modal") %>
    <%- partial("_partials/_portfolio/_item6_modal") %>

    <!-- JS -->
    <%- partial("_partials/_scripts") %>
  </body>

</html>
